body{
    background-image: url('https://previews.123rf.com/images/vireakchandara/vireakchandara1111/vireakchandara111100013/11101367-vector-poker-background.jpg');
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#dealer-cards img{
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img{
    height: 175px;
    width: 125px;
    margin: 1px;
}

table{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

th, tr{
    padding: 5px;
    align-items: center;
    text-align: center;
}

#win-header{
    color: green;
}

#loss-header{
    color: red;
}

#draw-header{
    color: yellow;
}